#pfp {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    z-index: 1;
}

#about-card {
	box-sizing: border-box;
	padding: 30px;
	width: 45%;
	word-wrap: break-word;
	position: relative;
	pointer-events: auto;
}

#banner {
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px 8px 0 0;
	margin: -30px;
	width: 100%;
	height: 50%;
    z-index: 0
}

